body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 30px;
}
span{
    color: coral;
}
.heading-pera{
    padding-bottom: 80px;
    font-size: 20px;
}
.flexible-container{
    display: flex;
    
    background-color: whitesmoke;
}
.half-width{
    width: 50%;
    padding: 5% 5% 5%;
}
.half-width img{
    width: 100%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 60px;
    color: white;
    font-weight: 700 ;
    border-radius: 30px;
    margin-top: 45px;
}
.about-style{
    background-image: url(images/bg-img.jpg);
    background-repeat: repeat;
    height: 600px;
    width: 100%;

}
#recipie-heading{
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 20px;
    
}

.recipie-container{
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}
.item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 26%;
    border-radius: 30px;
    padding: 10px 10px;
    box-shadow: 10px 10px 40px rgb(12, 6, 6);
    
}
.recipie-item{
    height: 46%;
    width: 100%;
    padding: 3px;
    
    
    
}
.item-container img{
    padding: 10px 10px;
    width: 95%;
    height: 95%;
    border-radius: 30px;
}

#cusines{
    text-align: center;
    font-size: 40px;
}

.cusines-items{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    margin: 10px 100px;
    border: 2px solid grey;
    border-radius: 10px;


    
}

.cusines-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 180px;
    border: 2px solid rgb(95, 87, 87);
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgb(105, 105, 156);

    
}
.cusines-box img{
    height: 90%;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
}


.visit-count{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 220px;
    width: 80%;
    margin: 120px;
    border-radius: 20px;
    background-color: grey;
}

footer{
    height: 250px;
    width: 100%;
    color: rgb(225, 225, 236);
    text-align: center;
    padding-top: 20px;
    background-color: rgb(15, 4, 4);
}

